body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f0f0f0, #ffffff);
    color: #333;
}
.containerMult {
    width: 60%; /* Decrease the width */
    margin: 10px auto; /* Increase the vertical margin */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: all 0.3s ease;
}
.card {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    padding-bottom: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display vertically centered */
    height: 100vh;
}
.modalContainerBottom {
    height: 170px;
    resize: none;
}
.search-container {
    width: 40%;
    margin-top:45px;
    margin-inline: auto;
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bottomModalContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 180px;
}
.modalContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%; /* Decrease the width */
    height: 35%;
    margin: 10px auto; /* Increase the vertical margin */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: all 0.3s ease;
}
.containerMult:hover {
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px; /* Decrease the vertical gap */
    column-gap: 22px;
}
.pageTitle{
    font-size: 30px;
    font-weight: bold;
    color: #292E2F; 
    /*center the text*/
    text-align: center;
}
.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    line-height: .5;
}
h1, .stats-button, .splits-button {
    margin-right: 10px;
}
.search-h2 {
    color: #333;
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    font-family: comic sans ms, sans-serif;
}
.search-form {
    width: 82%; 
    margin: 2em auto; 
    padding: 3em;
    border-radius: 0.5em;
    font-family: 'Courier New', monospace;
}
.search-form input, .search-form button {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    border: 1px solid #ddd;
    font-family: comic sans ms, sans-serif;
}
.search-form input {
    width: 93%;
    font-size: 16px;
}
.search-form button {
    width: 100%;
    color: #fff;                
    background-color: #007BFF;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.search-form button:hover {
    background-color: #0056b3;
}
.close{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 2%;
    right: 0;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 10px;
    width: 10px;
    font-family: 'Courier New', Courier, monospace
}
button {
    border: none;
}
button:hover {
    background-color: #0056b3;
} 
.splits-button, .stats-button {
    border: none;
    padding-top: 0px;
    margin-bottom: 0px;
    height: 15px;
    border-radius: 5px;
    background-color: #2A75B4;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Courier New', Courier, monospace

}
.loginContainer {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}
.loginInput {
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1em;
    margin: 10px 0;
}
.header, .times, .hr, .steps,.strokes, .calories, .elevation, .splits {
    margin-bottom: 20px;
    padding: 0px 15px;
    border-radius: 5px;
    background-color: #EFEFEF;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    position: relative;
}
.splits-button2, .stats-button2 {
    border: none;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-left: 2%;
    height: 15px;
    border-radius: 5px;
    background-color: #2A75B4;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
}
.header2, .times2, .hr2, .steps2,.strokes2, .calories2, .elevation2, .splits2 {
    margin-bottom: 20px;
    padding-left: 15px;
    border-radius: 5px;
    background-color: #EFEFEF;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    position: relative;
    width: 95%;
    margin-inline: auto;
}
.grid-container2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
    column-gap: 22px;
    width: 98%;
    margin-inline: auto;
}
.home_link {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.home_link:hover {
    background-color: #0056b3;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}
.home_h1 {
    font-size: 2.5em;
    font-weight: bold;
}
.home_body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 50px 20px;
    margin: 20px;
}
.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}
h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 0;
    padding-right: 2px;
}
.menuBar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
    color: white;
    z-index: 1000;
}
.containerSingle{
    margin: 10px auto;
    padding-top: 55px;
    width: 93%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: all 0.3s ease;

}
.containerSingle:hover {
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
.logout {
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #33A5FF;
}
.menuBar a.logout {
    margin-right: 1%;
}
.menuBar a.logout:hover {
    background-color: white;
}
.menuBar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: comic sans ms, sans-serif;
    font-weight: normal;
}
.menuBar a:hover {
    background-color: #33A5FF;
    color: black;
    border-radius: 5px;
}
.links {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
.WebName {
    padding: 10px;
    margin-top: 0;
    color:#0056b3;
}
#editTitleModal {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1000;
    display: none; /* Hidden by default */
    width: 115%;
    height:125%;
}
.modalEditSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 0;
}
input, textarea {
    caret-color: black;
    color: #2A75B4;
    font-family: comic sans ms, sans-serif;
    border-width:4px;
    border-color: #DCDBDB;
    border-radius:4px;
    border-style: solid;
    background-color: #DCDBDB;
}
input::placeholder, textarea::placeholder {
    color: #2A75B4;
    font-family: comic sans ms, sans-serif;
}
.submitButton{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #2A75B4;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Courier New', Courier, monospace

}
textarea{
    width:555px; 
    height:180px; 
    resize: none;
    margin-bottom: 10px;
}
.topHeader {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-image {
    position: absolute;
    top: 3%;
    left: 97%;
    width: 18px; /* adjust as needed */
    height: 25px; /* adjust as needed */
}
.header-image2 {
    position: absolute;
    top: 3%;
    left: 94%;
    width: 14px; /* adjust as needed */
    height: 21px; /* adjust as needed */
}
.header-image3 {
    position: absolute;
    top: 45.5%;
    left: 23.5%;
    width: 14px; /* adjust as needed */
    height: 21px; /* adjust as needed */
}
.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
h1 {
    color: #333;
    font-size: 20px;
    font-family: comic sans ms, sans-serif;
    margin-block-end: 0;
}
h2 {
    color: #666;
    font-size: 15px;
}
h5 {
    margin-bottom: 5px;
}
.create-account-link {
    margin-top: 20px;
}
a {
    color: blue;
    font-weight: bold;
}
.account-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.account-container h5, .account-container a {
    font-family: comic sans ms, sans-serif;
    font-size: 1em;
    text-decoration: none;
}
.button-container {
    display: flex;
    justify-content: center;
}
.titleContainer {
    display: flex;
    padding-bottom: 20px;
}

#posts-container {
    margin-top: 65px;
}
.titleName {
    font-size: 18px;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #292E2F; 
}
.titleName:hover {
    background: none;
    color: #0935F9;
    cursor: pointer;
}
.name {
    font-size: 18px;
    font-weight: bold;
    color: #292E2F; 
}
.nameSingle {
    font-size: 18px;
    font-weight: bold;
    color: #292E2F; 
    padding-left: 2%;
}
.date-name, .sport-name {
    font-size: 22px;
    font-weight: bold;
    color: #292E2F; 
}
.value {
    font-size: 15px;
    color: #2A75B4; 
}
.topHeader img {
    width: 75px; /* Adjust as needed */
    height: auto; /* Keeps the aspect ratio */
}
.container-title {
    font-size: 14px;
    font-weight: bold;
    color: #81A0D3; 
    text-decoration: underline;
    margin-top: 0;
}
.dataframe {
    width: 100%;
    border-collapse: collapse;
}
.splits{
    overflow-x: auto;
    overflow-y: auto;
    height: 200px;
}
.splits2{
    overflow-x: auto;
    overflow-y: auto;
    height: 200px;
}

.dataframe th, .dataframe td {
    padding: 8px;
    text-align: center;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}
.colTitle {
    text-decoration: underline;
    white-space: nowrap;
} 

.dataframe td {    
    font-size: 12px;
    color: #2A75B4; 
    white-space: nowrap;
}
.dataframe th {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    font-weight: bold;
    color: #292E2F; 
}