<link rel="stylesheet" type="text/css" href="../static/css/multipleActivity.css">
<div id='mergeConfirmation' class="modal-backdrop" style='display:none;'>
    <div class="merge-confirmation">
        <h1>Are you sure you want to merge these activities?</h1>
        <h2></h2>
        <button onclick='open_merge_modal()'>Yes, Merge Activities</button>
        <button onclick='closeMergeConfirmation()'>No, Cancel</button>
    </div>
</div>
<div id='mergeSuccess' class="modal-backdrop" style='display:none;'>
    <div class="merge-success">
        <input type='hidden' id='merged_activity_id' value=''>
        <h1>Activities Merged Successfully</h1>
        <h2>What would you like to do next?</h2>
        <button onclick='navigate_to_activity()'>View Merged Activity</button>
        <button onclick='navigate_to_home()'>Return to the Home Page</button>
        <button onclick='full_reload_page()'>Continue Editing Activities</button>
    </div>
</div>
<div id='mergeActivities' class='modal-backdrop' style='display:none;'>
    <div class='loading2' style='display:none;'>
        <div>
            <h1>Loading</h1>
        </div>
    </div>
    <div class='merge-activities'>
        <h1 class='merge-title'>Merge Activities</h1>
        <div id='merge-activity1' class='merge-activity'>
            <h2>Activity 1</h2>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Activity Title</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Sport</th>
                        <th>Time</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class='swap-merge-activities'>
            <div class='swap-merge-activities-button' onclick='swapActivities()'>
                <svg
                    width="50"
                    height="50"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path d="M12 16H13.5L13.5 10H15.5L15.5 16H17L14.5 19L12 16Z" fill="currentColor" />
                    <path d="M8 8H9.5L9.5 14H11.5L11.5 8H13L10.5 5L8 8Z" fill="currentColor" />
                </svg>
            </div>
        </div>
        <div id='merge-activity2' class='merge-activity'>
            <h2>Activity 2</h2>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Activity Title</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Sport</th>
                        <th>Time</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <button onclick='merge_activities()'>Merge Activities</button>
        <button onclick='closeMergeActivities()'>Cancel</button>
    </div>
</div>