
<div id='mergeConfirmation' class="modal-backdrop" style='display:none;'>
    <div class="merge-confirmation">
    </div>
</div>
<div id='mergeActivities' class='merge-activities' style='display:none;'>
    <h1 class='merge-title'>Merge Activities</h1>
    <div id='merge-activity1' class='merge-activity'>
        <h2>Activity 1</h2>
        <table>
            <thead>
                <tr>
                    <th>Activity Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Sport</th>
                    <th>Time</th>
                    <th>Distance</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class='swap-merge-activities'>
        <div class='swap-merge-activities-button' onclick='swapActivities()'>
            <svg
                width="50"
                height="50"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path d="M12 16H13.5L13.5 10H15.5L15.5 16H17L14.5 19L12 16Z" fill="currentColor" />
                <path d="M8 8H9.5L9.5 14H11.5L11.5 8H13L10.5 5L8 8Z" fill="currentColor" />
            </svg>
        </div>
    </div>
    <div id='merge-activity2' class='merge-activity'>
        <h2>Activity 2</h2>
        <table>
            <thead>
                <tr>
                    <th>Activity Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Sport</th>
                    <th>Time</th>
                    <th>Distance</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <button class='merge-activities-button'>Merge Activities</button>
</div>
<script>
    function swapActivities() {
        const activity1 = document.getElementById('merge-activity1');
        const activity2 = document.getElementById('merge-activity2');
        let activity1HTML = activity1.innerHTML;
        activity1HTML.replace('Activity 1', 'Activity 2');
        let activity2HTML = activity2.innerHTML;
        activity2HTML.replace('Activity 2', 'Activity 1');
        activity1.innerHTML = activity2HTML;
        activity2.innerHTML = activity1HTML;
    }
</script>