<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}GarminMock{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/multipleActivity.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class = "menuBar">
        <img src="{{ url_for('static', filename='images/logo_plain.png') }}" alt="logo" style="width:25px; height:30px;">
        <img src="{{ url_for('static', filename='images/logo_word_menu.png') }}" alt="logo" style="width:100px; height:30px;">
        <nav class = "links">
            <a href = "{{ url_for('main.homePage_route') }}">Home</a>
            <a href = "{{ url_for('main.searchPage_route') }}">Search</a>
            <a href = "{{ url_for('main.calendar_route') }}">Calendar</a>
            <a href = "{{ url_for('main.default_route') }}">Profile</a>
        </nav>
        <a class = "logout" href = "{{ url_for('main.logout_route') }}">Log Out</a>
    </nav>
{% block body %}
    <div class = "notFound">
        <h1> The page you are looking for was not found or in development. </h1>
    </div>

{% endblock %}
</body>
</html>