{% extends 'base.html' %}
{% block title %}Edit{% endblock %}
{% block head %}
    <script src="{{ url_for('static', filename='js/editPage.js') }}"></script>
{% endblock %}
{% block body %}
    {% include '_mergeActivities.html' %}
    <div id='search-container' class="search-container2">
        <div class="search-form" id='edit-activity-div'>
            <h1>Search Activities</h1>
            <div class='search-options'>
                <button class='active' onclick="show_search_inputs('date', 'edit-activity-div', this)">Search by Date</button>
                <button onclick="show_search_inputs('title', 'edit-activity-div', this)">Search by Activity Title</button>
            </div>
            <form method="get" action="/search_activities_for_edit">
                <input type="date" name="date" placeholder="Date" required>
                <input type="text" name="title" placeholder="Activity Title" style='display:none;'>
                <button onclick="search_activities(this.parentElement, event)" name="search">Search</button>
            </form>
        </div>
        <div id='search-results' class="search-results-container" style="display: none;">
            <div class="edit-options">
                <button 
                    id='edit-option-edit' 
                    style='opacity: 50%; pointer-events: none;'
                    disabled
                >Edit Activity</button>
                <button 
                    id='edit-option-merge' 
                    style='opacity: 50%; pointer-events: none;' 
                    onclick="merge_check()"
                    disabled
                >Merge Activities</button>
                <button 
                    id='edit-option-delete' 
                    style='opacity: 50%; pointer-events: none;' 
                    disabled
                >Delete Activities</button>
            </div>
            <div class="search-results">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Activity Title</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Sport</th>
                            <th>Time</th>
                            <th>Distance</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}