{% extends 'base.html' %}
        {% block title %}Activities{% endblock %}
        {% block head %}
            <script>
                const activities = {{ activity_list|tojson }};
                const lap_htmls = {{lap_html_list|tojson}};
                const maps = {{folium_maps|tojson}};

                function toggleCollapse(className, button, buttonText) {
                    var container = button.parentElement;
                    var elements = container.querySelectorAll('.' + className);
                    for (var i = 0; i < elements.length; i++) {
                        if (elements[i].style.display === "none") {
                            if (buttonText === ' Stats') {
                                console.log(buttonText)
                                elements[i].style.display = "grid";
                            } else {
                                elements[i].style.display = "block";
                            }
                            button.innerHTML = "Hide";
                            button.style.marginBottom = "10px"
                        } else {
                            elements[i].style.display = "none";
                            button.innerHTML = "View " + buttonText;
                            button.style.marginBottom = "0px"
                        }
                    }
                }

                function navigateToActivity(index) {
                    activity = activities[index];
                    lap_html = lap_htmls[index];
                    folium_map = maps[index];

                    document.getElementById('activity-input').value = JSON.stringify(activity);
                    document.getElementById('lap-input').value = lap_html;
                    document.getElementById('map-input').value = folium_map;

                    document.getElementById('activity-form').submit();
                }
            </script>
        {% endblock %}
    {% block body %}
        <form action = '/activity' method = 'POST' id="activity-form">
            <input type = 'hidden' name = 'activity' id = 'activity-input'>
            <input type = 'hidden' name = 'lap_html' id = 'lap-input'>
            <input type = 'hidden' name = 'folium_map' id = 'map-input'>
        </form>
        <div id = 'modalBackdrop' class = 'modal-backdrop'></div>
        <h1 class ='pageTitle'>Activities for {{date_title}}</h1>
        {% for activity, lap_html, folium_map, i in zip(activity_list, lap_html_list, folium_maps, list(range(len(activity_list)))) %}
            <div class="containerMult">
                <div class='header'>
                    <div class='topHeader'>
                        {% if activity['sport'] == 'Running' %}
                            <img src="../static/images/running-icon.jpg" alt="Running icon">
                        {% elif activity['sport'] == 'Cycling' %}
                            <img src="../static/images/cycling-icon.png" alt="Running icon">
                        {% elif activity['sport'] == 'Rowing' %}
                            <img src="../static/images/rowing-icon.jpg" alt="Running icon">
                        {% endif %}
                        <div>
                            <h1><span class="date-name">{{activity['display_date']}}</span></h1>
                            <h1><span class="sport-name">{{activity['display_sport']}}</span></h1>
                        </div>
                    </div>
                    <h1><button onclick="navigateToActivity({{i}})" class="titleName">{{activity['activity_title']}}</button></h1>
                    <h3><span class = 'name'>Description:</span> <span class = 'value'>{{activity['description']}}</span></h3>
                </div>
                <div class='times'>
                    <div class='grid-container2'>
                        <h2><span class="name">Duration:</span> <span class="value">{{activity['total_time']}}</span></h2>
                        <h2><span class="name">Elapsed Time:</span> <span class="value">{{activity['total_elapsed_time']}}</span></h2>
                        {% if activity['sport'] == 'Running'%}                
                            <h2><span class="name">Avg Pace:</span> <span class="value">{{activity['pace']}} /mi</span></h2>
                            <h2><span class="name">Elapsed Pace:</span> <span class="value">{{activity['elapsed_pace']}} /mi</span></h2>
                        {% elif activity['sport'] == 'Cycling'%}
                            <h2><span class="name">Avg Speed:</span> <span class="value">{{activity['pace']}} mph</span></h2>
                            <h2><span class="name">Elapsed Speed:</span> <span class="value">{{activity['elapsed_pace']}} mph</span></h2>
                        {% elif activity['sport'] == 'Rowing'%}
                            <h2><span class="name">Pace:</span> <span class="value">{{activity['pace']}} /500m</span></h2>
                            <h2><span class="name">Elapsed Pace:</span> <span class="value">{{activity['elapsed_pace']}} /500m</span></h2>
                        {% endif %}
                        {% if activity['sport'] in ('Running', 'Cycling')%}
                            <h2><span class="name">Distance:</span> <span class="value">{{activity['total_distance']}} miles</span></h2>
                        {% elif activity['sport'] == 'Rowing' %}
                            <h2><span class="name">Distance:</span> <span class="value">{{activity['total_distance']}} m</span></h2>
                        {% endif %}
                    </div>
                </div>
                <div id="map-container" style="width: 100%; height: 45%; margin: 0 auto;">
                    {% if folium_map is not none %}
                        {{folium_map|safe}}
                    {% endif %}
                </div>
                <h1><span class="name">Splits</span></h1>
                <button type="button" onclick="toggleCollapse('splits', this, ' Splits', 'editicon2')" class='splits-button'>View Splits</button>
                {% if lap_html is none %}
                    <div class='splits' style="display:none; height:42px">
                        <h2>No Split Data to Show</h2>
                {% else %}
                    <div class='splits' style="display:none">
                        {{lap_html|safe}}
                {% endif %}
                </div>
                <h1><span class="name">Stats</span></h1>
                <button type="button" onclick="toggleCollapse('grid-container', this, ' Stats', null)" class='stats-button'>Hide</button>
                <div class="grid-container">
                    <div class='hr'>
                        <h2><span class="container-title">Heart Rate:</span></h2>
                        <h2><span class="name">Avg HR:</span> <span class="value">{{activity['avg_hr']}} bpm</span></h2>
                        <h2><span class="name">Max HR:</span> <span class="value">{{activity['max_hr']}} bpm</span></h2>
                        <h2><span class="name">Recovery HR:</span> <span class="value">{{activity['recovery_hr']}} bpm</span></h2>
                    </div>
                    {% if activity['sport'] == 'Running' %}
                        <div class='steps'>
                            <h2><span class="container-title">Steps:</span></h2>
                            <h2><span class="name">Avg Cadence:</span> <span class="value">{{activity['avg_running_cadence']}} spm</span></h2>
                            <h2><span class="name">Max Cadence:</span> <span class="value">{{activity['max_running_cadence']}} spm</span></h2>
                            <h2><span class="name">Number of Steps:</span> <span class="value">{{activity['total_strides']}}</span></h2>
                            <h2><span class="name">Avg Stride Length:</span> <span class="value">{{activity['avg_stride_length']}} m</span></h2>
                        </div>
                    {% elif activity['sport'] == 'Rowing' %}
                        <div class='strokes'>
                            <h2><span class="container-title">Strokes:</span></h2>
                            <h2><span class="name">Stroke Rate:</span> <span class="value">{{activity['stroke_rate']}} spm</span></h2>
                            <h2><span class="name">Elapsed Stroke Rate:</span> <span class="value">{{activity['elapsed_stroke_rate']}} spm</span></h2>
                            <h2><span class="name">Number of Strokes:</span> <span class="value">{{activity['total_cycles']}}</span></h2>
                        </div>
                    {% endif %}
                    <div class='calories'>
                        <h2><span class="container-title">Nutrition:</span></h2>
                        <h2><span class="name">Resting Calories:</span> <span class="value">{{activity['resting_calories']}} cal</span></h2>
                        <h2><span class="name">Active Calories:</span> <span class="value">{{activity['active_calories']}} cal</span></h2>
                        <h2><span class="name">Total Calories:</span> <span class="value">{{activity['total_calories']}} cal</span></h2>
                        <h2><span class="name">Sweat Loss:</span> <span class="value">{{activity['sweat_loss']}} ml</span></h2>
                    </div>
                    <div class='elevation'>
                        <h2><span class="container-title">Elevation:</span></h2>
                        <h2><span class="name">Total Ascent:</span> <span class="value">{{activity['total_ascent']}} ft</span></h2>
                        <h2><span class="name">Total Descent:</span> <span class="value">{{activity['total_descent']}} ft</span></h2>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}