{% extends "base.html" %}
{% block title %}Search by Month{% endblock %}
{% block body %}
    <div class="search-container">
        <h2 class="search-h2">Search for Activities By Month</h2>
        <div class="search-form">
            <form method="get" action="/multiple_activity">
                <input type="text" name="date1" placeholder="Enter Month" required>
                <input type="text" name="date2" placeholder="Enter Year" required>
                <button type="submit" >Get Details of Month</button>
            </form>
        </div>
    </div>
{% endblock %}