{% extends "base.html" %}
{% block title %}Search by Month{% endblock %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.search-form input').on('input', function () {
            if ($(this).val() !== '') {
                $(this).addClass('has-input');
            } else {
                $(this).removeClass('has-input');
            }
        });
    });
</script>
{% endblock %}
{% block body %}
    <div class="search-container">
        <h2 class="search-h2">Search for Activities By Month</h2>
        <div class="search-form">
            <form method="get" action="/ByMonth">
                <input type="text" id="month" name="month" placeholder="Enter Month" required>
                <input type="text" id="year" name="year" placeholder="Enter Year" required>
                <button type="submit" id="searchSummary" name="search" value="summary">Get Summary of Month</button>
                <button type="submit" id="searchDetail" name="search" value="detail">Get Details of Month</button>
                <button type="submit" id="searchWeekly" name="search" value="recap">Get Recaps of Weeks for Month</button>
            </form>
        </div>
    </div>
{% endblock %}